<html>
   <head>
       <title>MyPython WebApp</title>
   </head>
   <body>
       <div id="container">
           <div class="title">
               <h1>MyPython WebApp</h1>
           </div>
      </div>
      <p>
      La oss si at {{output}} jeg har en laaaaang tekst her<br>som jeg nok var nodt til å dele i flere biter<br><br>menmen sann er det jo
      </p>
      <div id="content">
        <form action="." method="POST">
          <input type="text" name="text">
          <input type="submit" name="my-form" value="Send">
        </form>
        </div>
   </body>
</html>
